---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

const projects = await Astro.glob('../pages/projects/*.md')
function crop(text) {
	return String(text).substring(1, 100) + '...'
} 
---

<Layout title="Welcome to Astro.">
	<main class="uk-container">
		<div class="uk-section">
			<div class="uk-container">
				<h1>Welcome to <span class="uk-text-bold">Palitra</span></h1>
			</div>
		</div>

		<div class="uk-grid uk-grid-large uk-child-width-1-1 uk-child-width-1-2@m">
			{
				projects.map((project) =>
					<div>
						<Card title={project.frontmatter.title} preview={crop(project.rawContent())} url={project.url} />
					</div>
				)
			}
		</div>
	</main>
</Layout>
