---
const { title, preview, url } = Astro.props
---

<article class="uk-card uk-card-default uk-card-body uk-position-relative uk-height-1-1">
	<h2>{title}</h2>

	<p>{preview}</p>

	<a href={url}>Read more</a>
</article>
