---
const { formWrappClass } = Astro.props;
---
<div class:list={formWrappClass}>
    <h3 class="uk-h2 uk-text-primary uk-text-center">Заявка на виклик майстра</h3>
    <div class="uk-margin-medium-top uk-text-center uk-text-bold">
        Залишіть свої контактні дані і наш спеціаліст зв'яжеться з Вами протягом 5 хвилин!
    </div>
    <div class="uk-margin-medium-top">
        <form class="uk-form-stacked">
            <div class="uk-margin">
                <label class="uk-form-label" for="input_name">Ваше ім'я</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-large" id="input_name" name="client-name" type="text" placeholder="Напишіть Ваше ім'я ...">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="input_phone">Номер телефону<sup>*</sup></label>
                <div class="uk-form-controls">
                    <input class="uk-input client-phone uk-form-large" id="input_phone" name="client-phone" type="tel" 
                    placeholder="+38 (0__) ___‒__‒__"                 
                    required>
                </div>
            </div>
            <div class="uk-alert" uk-alert="" style="display: none;"></div>
            <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Відправити</button>
            </div>
            <div class="uk-margin uk-text-small uk-text-muted">Поле, позначене <sup>*</sup> - обов'язкове для заповнення. Відправляючи форму, Ви даєте згоду на обробку персональних даних.</div>
        </form>
    </div>
</div>