<section class="section-left uk-position-relative"
         uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 300;">
    <div class="uk-container uk-container-expand-left uk-section uk-section-primary">
        <div class="uk-container">
            <slot />
        </div>
    </div>
</section>